<!doctype html>
<html lang="uz">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Maqolani tahrirlash</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container py-5" style="max-width:800px;">
    <h2 class="mb-4">Maqolani tahrirlash</h2>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Sarlavha</label>
        <input type="text" class="form-control" name="title" value="{{ blog.title }}">
      </div>

      <div class="mb-3">
        <label class="form-label">Muallif</label>
        <input type="text" class="form-control" name="author" value="{{ blog.author}}">
      </div>

      <div class="mb-3">
        <label class="form-label">Maqola matni</label>
        <textarea class="form-control" name="desc" rows="8">{{ blog.desc }}</textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Rasm (ixtiyoriy)</label>
        <div class="mb-2">
          {% if blog.image %}
          <img src="{{ blog.image.url }}" class="img-thumbnail" style="max-height:140px;" alt="old-image">
          {% endif %}
        </div>
        <input class="form-control" type="file" name="image" accept="image/*">
      </div>

      <div class="form-check mb-3">
        <input class="form-check-input" name="is_published" type="checkbox" id="isPublished" {% if blog.is_published %} checked {% endif %}>
        <label class="form-check-label"  for="isPublished">E’lon qilingan</label>
      </div>

      <div class="d-flex gap-2">
        <button class="btn btn-success">Yangilash</button>
        <a href="/" class="btn btn-outline-secondary">Bekor qilish</a>
      </div>
    </form>
  </div>
</body>

</html>